<html>
<head>
<title>Apex Technologies - AB33XX board</title>
</head>
<body>
<h1>Apex Technolgies</h1>
<h2>AP33XX Module Board</h2>

<p>This project template is the basis of a board embedded in a AP33XX module</p>

<p>This base project includes a PCB edge defined as the good size with the HE10 26 points connector placed correctly.
All I/O and voltages on the HE10 connector are already placed.</p>

<p>The board outline looks like the following:</p>

<p><img src="brd.png"></p>

<p>Maxime Fontaine</p>
</body>
</html>
